/***
Default theme
***/
/***
Reset and overrides
***/
/* line 8, theme\mls-theme.less */
body {
  background-color: #3d3d3d !important;
}
/***
Page header
***/
/* line 14, theme\mls-theme.less */
.header {
  filter: none !important;
  background-image: none !important;
  background-color: #212121 !important;
}
/* line 19, theme\mls-theme.less */
.header .btn-navbar {
  background-color: #212121 !important;
}
/* line 22, theme\mls-theme.less */
.header .navbar-nav .dropdown-toggle:hover,
.header .navbar-nav .dropdown.open .dropdown-toggle {
  background-color: #383838 !important;
}
/* line 26, theme\mls-theme.less */
.header .navbar-nav li.dropdown .dropdown-toggle i {
  color: #8a8a8a !important;
}
/***
Header Search
***/
/* line 33, theme\mls-theme.less */
.header .search-form {
  background-color: #000;
}
/* line 37, theme\mls-theme.less */
.header .search-form .form-control {
  color: #999;
  border: 0;
  background-color: #000;
}
/* line 43, theme\mls-theme.less */
.header .search-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #777;
}
/* line 46, theme\mls-theme.less */
.header .search-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777;
}
/* line 49, theme\mls-theme.less */
.header .search-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777;
}
/* line 52, theme\mls-theme.less */
.header .search-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #777;
}
/* line 56, theme\mls-theme.less */
.header .search-form .submit {
  background: url("../img/img/search-icon-light.png");
}
/***
Hor menu
***/
/* line 63, theme\mls-theme.less */
.header .hor-menu ul.nav li a {
  color: #999;
}
/* line 67, theme\mls-theme.less */
.header .hor-menu ul.nav li.open > a,
.header .hor-menu ul.nav li > a:hover,
.header .hor-menu ul.nav li > a:focus {
  color: #fff;
  background: #383838;
}
/* line 74, theme\mls-theme.less */
.header .hor-menu .dropdown-menu li:hover > a,
.header .hor-menu ul.nav li.active > a,
.header .hor-menu ul.nav li.active > a:hover {
  color: #fff;
  background: #e02222 !important;
}
/* line 81, theme\mls-theme.less */
.header .hor-menu ul.nav li.current > a,
.header .hor-menu ul.nav li.current > a:hover {
  color: #fff;
  background: #e02222 !important;
}
/* line 87, theme\mls-theme.less */
.header .hor-menu .dropdown-menu {
  background: #383838;
}
/* line 90, theme\mls-theme.less */
.header .hor-menu .dropdown-menu li > a {
  color: #999;
}
/* line 94, theme\mls-theme.less */
.header .hor-menu .hor-menu-search-form-toggler.off {
  background: #383838 url("../img/hor-menu-search-close.png") no-repeat center;
}
/* line 98, theme\mls-theme.less */
.header .hor-menu .search-form {
  background: #383838;
}
/* line 102, theme\mls-theme.less */
.header .hor-menu .search-form form input {
  color: #999;
}
/* line 106, theme\mls-theme.less */
.header .hor-menu .search-form .btn {
  color: #999;
  background: url("../img/search-icon.png") no-repeat center;
}
/* line 111, theme\mls-theme.less */
.header .hor-menu .search-form form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
/* line 114, theme\mls-theme.less */
.header .hor-menu .search-form form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
/* line 117, theme\mls-theme.less */
.header .hor-menu .search-form form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
/* line 120, theme\mls-theme.less */
.header .hor-menu .search-form form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
/***
Mega Menu
***/
/* line 127, theme\mls-theme.less */
.mega-menu .mega-menu-submenu {
  border-right: 1px solid #444;
}
/* line 131, theme\mls-theme.less */
.mega-menu .mega-menu-submenu li h3 {
  color: #fff;
}
/***
Page sidebar
***/
/* line 138, theme\mls-theme.less */
.page-sidebar {
  background-color: #3d3d3d;
}
/* line 141, theme\mls-theme.less */
ul.page-sidebar-menu > li > a {
  border-top: 1px solid #5c5c5c !important;
  color: #ffffff !important;
}
/* line 145, theme\mls-theme.less */
ul.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
/* line 148, theme\mls-theme.less */
ul.page-sidebar-menu > li a i {
  color: #969696;
}
/* line 151, theme\mls-theme.less */
ul.page-sidebar-menu > li.open > a,
ul.page-sidebar-menu > li > a:hover,
ul.page-sidebar-menu > li:hover > a {
  background: #303030;
}
/* line 156, theme\mls-theme.less */
ul.page-sidebar-menu > li.active > a {
  background: #e02222 !important;
  border-top-color: transparent !important;
  color: #ffffff;
}
/* line 161, theme\mls-theme.less */
ul.page-sidebar-menu > li.active > a i {
  color: #ffffff;
}
/* line 164, theme\mls-theme.less */
ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
/* line 167, theme\mls-theme.less */
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #ffffff !important;
  background: #575757 !important;
}
/* line 172, theme\mls-theme.less */
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  background: #575757 !important;
}
/* 3rd level sub menu */
/* line 176, theme\mls-theme.less */
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #575757 !important;
}
/* font color for all sub menu links*/
/* line 183, theme\mls-theme.less */
ul.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #bdbdbd;
}
/* menu arrows */
/* line 187, theme\mls-theme.less */
ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
/* line 191, theme\mls-theme.less */
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
/* line 195, theme\mls-theme.less */
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
/* line 198, theme\mls-theme.less */
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
}
/* sidebar search */
/* line 203, theme\mls-theme.less */
.page-sidebar .sidebar-search input {
  background-color: #242424 !important;
  color: #7d7d7d;
}
/* line 207, theme\mls-theme.less */
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #7d7d7d !important;
}
/* line 210, theme\mls-theme.less */
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #7d7d7d !important;
}
/* line 213, theme\mls-theme.less */
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #7d7d7d !important;
}
/* line 216, theme\mls-theme.less */
.page-sidebar .sidebar-search input {
  background-color: #3d3d3d !important;
  color: #bfbfbf !important;
}
/* line 220, theme\mls-theme.less */
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #7d7d7d !important;
}
/* line 223, theme\mls-theme.less */
.page-sidebar .sidebar-search .submit {
  background-image: url("../img/img/search-icon.png");
}
/***
Sidebar toggler
***/
/* line 229, theme\mls-theme.less */
.sidebar-toggler {
  background-image: url("../img/sidebar-toggler.jpg");
  background-color: #242424;
}
/* search box bg color on expanded */
/* line 234, theme\mls-theme.less */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  background-color: #3d3d3d !important;
}
/* line 237, theme\mls-theme.less */
.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
  background-image: url("../img/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
/* line 241, theme\mls-theme.less */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #3d3d3d;
}
/***
Footer
***/
/* line 247, theme\mls-theme.less */
.footer .footer-inner {
  color: #999999;
}
/* line 250, theme\mls-theme.less */
.footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
/* line 253, theme\mls-theme.less */
.footer .footer-tools .go-top:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* line 257, theme\mls-theme.less */
.footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/***
Footer Layouts (new in v1.3)
***/
/* begin:fixed footer */
/* line 264, theme\mls-theme.less */
.page-footer-fixed .footer {
  background-color: #242424;
}
/* line 267, theme\mls-theme.less */
.page-footer-fixed .footer .footer-inner {
  color: #999999;
}
/* line 270, theme\mls-theme.less */
.page-footer-fixed .footer .footer-tools .go-top {
  background-color: #4f4f4f;
}
/* line 273, theme\mls-theme.less */
.page-footer-fixed .footer .footer-tools .go-top i {
  color: #8a8a8a;
}
/* end:fixed footer */
/***
Gritter Notifications
***/
/* line 280, theme\mls-theme.less */
.gritter-top {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -30px !important;
}
/* line 283, theme\mls-theme.less */
.gritter-bottom {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left bottom !important;
}
/* line 286, theme\mls-theme.less */
.gritter-item {
  display: block;
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left -40px !important;
}
/* line 290, theme\mls-theme.less */
.gritter-close {
  background: url(../../plugins/gritter/images/gritter.png) no-repeat left top !important;
}
/* line 293, theme\mls-theme.less */
.gritter-title {
  text-shadow: none !important;
  /* Not supported by IE :( */
}
/* for the light (white) version of the gritter notice */
/* line 299, theme\mls-theme.less */
.gritter-light .gritter-item,
.gritter-light .gritter-bottom,
.gritter-light .gritter-top,
.gritter-light .gritter-close {
  background-image: url(../../plugins/gritter/images/gritter-light.png) !important;
}
/* line 305, theme\mls-theme.less */
.gritter-item-wrapper a {
  color: #18a5ed;
}
/* line 308, theme\mls-theme.less */
.gritter-item-wrapper a:hover {
  color: #0b6694;
}
/* begin: boxed page */
@media (min-width: 992px) {
  /* line 313, theme\mls-theme.less */
  .page-boxed {
    background-color: #2e2e2e !important;
  }
  /* line 316, theme\mls-theme.less */
  .page-boxed .page-container {
    background-color: #3d3d3d;
    border-left: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
  }
  /* line 321, theme\mls-theme.less */
  .page-boxed.page-sidebar-reversed .page-container {
    border-left: 0;
    border-right: 1px solid #5e5e5e;
  }
  /* line 325, theme\mls-theme.less */
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  /* line 329, theme\mls-theme.less */
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  /* line 334, theme\mls-theme.less */
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #5e5e5e;
  }
  /* line 337, theme\mls-theme.less */
  .page-boxed.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
    border-right: 1px solid #5e5e5e;
    border-left: 0;
  }
  /* line 341, theme\mls-theme.less */
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #2e2e2e !important;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 991px) {
  /***
    page sidebar
    ***/
  /* line 353, theme\mls-theme.less */
  .page-sidebar {
    background-color: #292929 !important;
  }
  /* line 356, theme\mls-theme.less */
  ul.page-sidebar-menu > li > a {
    border-top: 1px solid #4a4a4a !important;
  }
  /* line 359, theme\mls-theme.less */
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0 !important;
  }
  /* line 362, theme\mls-theme.less */
  .page-sidebar .sidebar-search input {
    background-color: #292929 !important;
  }
  /* line 365, theme\mls-theme.less */
  ul.page-sidebar-menu > li.open > a,
  ul.page-sidebar-menu > li > a:hover,
  ul.page-sidebar-menu > li:hover > a {
    background: #1e1e1e;
  }
}
@media (min-width: 992px) {
  /* line 376, theme\mls-theme.less */
  .page-content {
    margin-left: 225px;
    margin-top: 0px;
    min-height: 600px;
    padding: 25px 20px 20px 20px;
  }
}
/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */
/* line 5, plugins\multiple-select.less */
.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
/* line 11, plugins\multiple-select.less */
.ms-choice {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}
/* line 30, plugins\multiple-select.less */
.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
/* line 37, plugins\multiple-select.less */
.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}
/* line 49, plugins\multiple-select.less */
.ms-choice > span.placeholder {
  color: #999;
}
/* line 53, plugins\multiple-select.less */
.ms-choice > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  background: url('multiple-select.png') left top no-repeat;
}
/* line 62, plugins\multiple-select.less */
.ms-choice > div.open {
  background: url('multiple-select.png') right top no-repeat;
}
/* line 66, plugins\multiple-select.less */
.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0;
  position: absolute;
  z-index: 1000;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 82, plugins\multiple-select.less */
.ms-drop.bottom {
  top: 100%;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
/* line 89, plugins\multiple-select.less */
.ms-drop.top {
  bottom: 100%;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}
/* line 96, plugins\multiple-select.less */
.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}
/* line 107, plugins\multiple-select.less */
.ms-search input {
  width: 100%;
  height: auto !important;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff url('multiple-select.png') no-repeat 100% -22px;
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #ffffff), color-stop(0.99, #eeeeee));
  background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}
/* line 132, plugins\multiple-select.less */
.ms-search,
.ms-search input {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 140, plugins\multiple-select.less */
.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px 8px;
}
/* line 146, plugins\multiple-select.less */
.ms-drop ul > li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static;
}
/* line 153, plugins\multiple-select.less */
.ms-drop ul > li .disabled {
  opacity: .35;
  filter: alpha(opacity=35);
}
/* line 158, plugins\multiple-select.less */
.ms-drop ul > li.multiple {
  display: block;
  float: left;
}
/* line 163, plugins\multiple-select.less */
.ms-drop ul > li.group {
  clear: both;
}
/* line 167, plugins\multiple-select.less */
.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 175, plugins\multiple-select.less */
.ms-drop ul > li label {
  font-weight: normal;
  display: block;
  white-space: nowrap;
}
/* line 181, plugins\multiple-select.less */
.ms-drop ul > li label.optgroup {
  font-weight: bold;
}
/* line 185, plugins\multiple-select.less */
.ms-drop input[type="checkbox"] {
  vertical-align: middle;
}
/* line 189, plugins\multiple-select.less */
.ms-drop .ms-no-results {
  display: none;
}
@media (min-width: 992px) {
  /* line 9, mls.less */
  .search-detail-landing .page-content {
    margin-left: 0 !important;
  }
  /* line 12, mls.less */
  .search-detail-landing .shortlist1_top {
    color: #35AA47;
    font-weight: bold;
  }
}
/* line 17, mls.less */
.hu-slider {
  padding-bottom: 25px;
  padding-top: 15px;
}
/* line 21, mls.less */
.form-horizontal.form-value .control-label {
  padding-top: 0;
}
/* line 24, mls.less */
textarea.control-label {
  text-align: left !important;
}
/* line 29, mls.less */
.textbox-sm input,
.textbox-sm select {
  max-width: 100px;
}
/* line 34, mls.less */
.form-group [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 42, mls.less */
.multiselect.form-control {
  padding-left: 0;
  padding-right: 0;
}
/* line 46, mls.less */
.multiselect .ms-choice {
  border: none;
}
/* line 49, mls.less */
.multiselect .ms-select-all {
  display: none;
}
/* line 57, mls.less */
.form-horizontal.form-left .control-label {
  text-align: left;
}
