 <!-- <div class="header-inner">
 <p>HU Header</p>
 <ul>
 	<li>Hi <%= userName%></li>
 	<li><a href="/logout">Logout</a></li>
 </ul>
           
 </div> -->
   <!-- BEGIN TOP NAVIGATION BAR -->
<div class="header-inner">
	<!-- BEGIN LOGO -->
	<a class="navbar-brand" href="index.html"> <img
		src="assets/img/logo.png" alt="logo" class="img-responsive" />
	</a>
	<!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="navbar-toggle" data-toggle="collapse"
		data-target=".navbar-collapse"> <img
		src="assets/img/menu-toggler.png" alt="" />
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
</div>
<!-- END TOP NAVIGATION BAR -->