 <div class="page-content">
               
	<!-- BEGIN PAGE HEADING-->
	<div class="row">
	    <div class="col-md-12">
	        <h3 class="page-title">
	            <i class="fa fa-sitemap pull-left font25 marg_top10"></i>Create New Vendor</h3>
	    </div>
	</div>
                <!-- END PAGE HEADING-->
                <!-- Tab start -->
                <div class="row marg_top15">
                    <div class="col-md-12">
                        <div class="portlet-body">
                            <div class="tabbable">
                                <ul class="nav nav-tabs1">
                                    <li class="active" name="vendorNav">
	                                    <a href="javascript:;" data-toggle="tab" id="company">
		                                    <i class="fa fa-building-o pull-left font14 marg_top4"></i>
		                                    Company 
	                                    </a>
                                    </li>
									<li class="" name="vendorNav">
										<a href="javascript:;" data-toggle="tab" id="contacts">
											<i class="fa fa-phone pull-left font14 marg_top4"></i>
	                                    		Contacts 
                                   		</a>
                               		</li>
                                    <li class="" name="vendorNav">
                                    	<a href="javascript:;" data-toggle="tab" id="services">
	                                    	<i class="fa fa-coffee pull-left font14 marg_top4"></i>
	                                    	Services 
                                    	</a>
                                   	</li>
                                    <li class="" name="vendorNav">
                                    	<a href="javascript:;" data-toggle="tab" id="licenses">
                                    		<i class="fa fa-picture-o pull-left font14 marg_top4"></i>
                                    		Licenses 
                                   		</a>
                               		</li>
                                    <li class="" name="vendorNav">
                                    	<a href="javascript:;" data-toggle="tab" id="insurance">
	                                    	<i class="fa fa-pencil-square-o pull-left font14 marg_top4"> </i>
	                                  		 Insurance 
                                		</a>
                               		</li>
                                    <li class="" name="vendorNav">
                                    	<a href="javascript:;" data-toggle="tab" id="payment">
                                    		<i class="fa fa-money pull-left font14 marg_top4">
                                    		</i>Payment 
                                   		</a>
                               		</li>
                                </ul>
                                <div class="tab-content" style="width: 100%; margin-top: 20px;">
                                    <!-- Company tab start -->
                                    <div class="tab-pane active" id="companyTab" name="infoTab">
                                       
                                    </div>
                                    <!-- Company tab end -->
									
									<!-- Contact tab start -->
                                    <div class="tab-pane" id="contactTab" name="infoTab">
                                        
									</div>		
									<!-- Contact tab end -->
									
                                    <!-- Services tab start -->
                                    <div class="tab-pane" id="servicesTab" name="infoTab">
                                       
                                    </div>
                                    <!-- Services tab end -->
                                    
                                    <!-- License tab start -->
                                    <div class="tab-pane" id="licensesTab" name="infoTab">
                                        
                                    </div>
                                    <!-- License tab end -->
                                    
                                    <!-- Insurance Information tab start -->
                                    <div class="tab-pane" id="insuranceTab" name="infoTab">
                                     
                                    </div>
                                    <!-- Insurance Information tab end -->
                                    <!-- Payment setup tab start -->
                                    <div class="tab-pane" id="paymentTab" name="infoTab">
                                     
                                    </div>
                                    <!-- Paym cent setup tab end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab end-->
</div>
<!-- option company warning lightbox start -->
<div class="modal fade bs-modal-sm" id="addCompanyWarningBox" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				  Please add the company first.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- option company warning lightbox end -->